@mixin flex__center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex__center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex__space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
