$grey: #323232;
$light-grey: #787878;
$white: #FFFFFF;

$min-height: calc(100vh - 350px);
$max-width: 1280px;

$linear-gradient: (to top, #000000, #434343);

$border-grey: 1px solid $grey;
$border-lightgrey: 1px solid #9a9a9a;

$font_size-smallest: 14px;
$font_size-small: 16px;
$font_size-medium: 20px;
$font_size-large: 28px;

$line-height: 1.5rem;

$margin_auto: 0 auto;