<!DOCTYPE html>
  <head>
    <%- include('template/head') %>
  </head>
  <html>
    <%- include('template/navbar') %>

    <section class="lottery">
      <div class="lottery__info">
          <div class="lottery__title">2021 夏日輕盈特賞！ 抽獎活動辦法</div>
          <div class="lottery__info--description">
            <div class="lottery__info--title">活動期間：</div>
            <div class="lottery__info--content">
              2021/08/01~2021/08/31
            </div>
          </div>
          <div class="lottery__info--description">
            <div class="lottery__info--title">活動說明：</div>
            <div class="lottery__info--content">
              今天老闆佛心來著決定給大家發獎勵，有看有機會，沒看只能幫QQ！只要在店內消費滿1000000元即有一次抽獎機會！
            </div>
          </div>
          <div class="lottery__info--description">
            <div class="lottery__info--title">獎  品：</div>
            <div class="lottery__info--content">
              獎品詳情請看獎品列表<br>
              獎品數量有限，要抽要快～<br>
              過了這個村，就沒這個店囉～～<br>
              抽獎抽起來 ❤<br>
            </div>
          </div>
          <a class="lottery__info--btn" href="/lottery">我要抽獎</a>
      </div>
    </section>

  <%- include('template/footer') %>
</html>